<!DOCTYPE html>
<html>
<head>
  <title>CatarseMonkeymail</title>
  <%= stylesheet_link_tag    "catarse_monkeymail/application", media: "all" %>
  <%= javascript_include_tag "catarse_monkeymail/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
